* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("images/space.jpeg");
}

#star-ship, .star-ship-clone, .opponent-ship {
    width: 100px;
    height: 100px;
    position: absolute;
}

#star-ship {
    background-color: royalblue;
    /* background: url("images/star-ship.png");
    background-repeat: round;
    width: 100px;
    height: 100px; */
}

.star-ship-laser {
    width: 30px;
    height: 10px;
    position: absolute;
    top: 45px;
    left: 100px;
    background-color: red;
}

#game-score {
    height: 100px;
    text-align: center;
    color: white;
}

.opponent-ship {
    right: 0;
}

#game-main-timer {
    font-size: 50px;
}

#game-total-score {
    font-size: 25px;
}