* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#star-ship, .star-ship-clone {
    width: 100px;
    height: 100px;
    position: absolute;
}

#star-ship {
    background-color: royalblue;
}

.star-ship-clone {
    background-color: yellow;
}

.star-ship-laser {
    width: 30px;
    height: 10px;
    position: absolute;
    top: 45px;
    right: -30px;
    background-color: red;
}